body {
    background-color: aliceblue;
    padding-top: 70px;
}

.block1 {
    background-image: url("myfeet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: auto;
    width: 100%;
    text-align: center;
    color: #290099;
    height: 600px;
}

.block2 {
        background-color: #242429;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        height: auto;
        width: 100%;
        text-align: center;
        color: #ffffff;
}

.block3 {
        background-color: #A8A8B3;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        height: auto;
        width: 100%;
        color: #800000;
}

.block4 {
        background-image: url("waterthrough.JPG");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        min-height: 300px;
}

.block5 {
        min-height: 300px;
        width: 100%;
        color: #290099;
        font-family: 'Arapey', serif;
}

ul {
    list-style-type: none;
}

.col-md-4 {
    text-align: center;
}

.portfoliot {
    background-color: aliceblue;
    border: 1px solid black;
    width: auto;
    height: auto;
    margin: 30px;
}

.portfolioh {
    text-align: center;
    font-family: 'Arapey', serif;
}

.pagetitle {
    font-family: 'Arapey', serif;
    text-align: center;
    font-size: 50pt;
    color: #290099;
}

.contactinfo {
    font-family: 'Arapey', serif;
    text-align: right;
    font-size: 20pt;
    color: #290099;
}

.entry {
    background-color: aliceblue;
    border: 1px solid black;
    width: auto;
    height: 300px;
    margin: 30px;
}

.entcontentH h6 {
    margin: 5%;
    font-family: 'Arapey', serif;
    font-size: 30pt;
    text-align: center;
}

.entcontentP p {
    margin: 5%;
    font-family: 'Arapey', serif;
    font-size: 20pt;
    text-align: left;
}

.entcontentI img {
    margin: 5%;
    height: 50px;
    text-align: left;
}

.block4 .col-md-4 {
    text-align: center;
    padding-top: 50px;
}

.aboutp {
    margin: 5%;
    font-family: 'Arapey', serif;
    text-align: left;
}

.abouth {
    margin: 5%;
    font-family: 'Arapey', serif;
    text-align: center;
}

.navbar {
    background-image: linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
    font-family: 'Arapey', serif;
    color: #666666;
}

.navbar-nav {
    background-image: linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
    font-family: 'Arapey', serif;
    color: #666666;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Arapey', serif;
    color: #666666;
}

.brand img{
    height: 21px;
}

.scrolly img {
    height: 100px;
}

a {
    font-family: 'Arapey', serif;
    color: #290099;
    text-decoration: none;
}

a:link {
    font-family: 'Arapey', serif;
    color: #290099;
    text-decoration: none;
}

a:visited {
    font-family: 'Arapey', serif;
    color: #290099;
    text-decoration: none;
}

a:hover {
    font-family: 'Arapey', serif;
    color: #290099;
    text-decoration: none;
}

a:active {
    font-family: 'Arapey', serif;
    color: #290099;
    text-decoration: none;
}
