body {
    background-color: aliceblue;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
}

.block1 {
        height: 150px;
}

.block2 {
        background-image: url("trees.JPG");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        height: 900px;
}

.block3 {
        background-image: url("waterthrough.JPG");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;;
        min-height: 300px;
}

.block4 {
        height: 500px;
}

.block5 {
        background-image: url("treesfloor.JPG");
        background-position: right;;
        background-repeat: no-repeat;
        background-attachment: scroll;
        height: 500px;
        font-family: 'Arapey', serif;
        text-align: center;
        color: #cce7ff;
}

.entry {
    background-color: aliceblue;
    color: #000000;
    font-family: 'Arapey', serif;
}


#frog {
    font-family: 'Arapey', serif;
    text-align: center;
    font-size: 50pt;
    color: #1A1D08;
}

#frog, img {
    height:100px;
    text-align: left;
}


.entry, img {
    height:100px;
    text-align: left;
}
