body {
    background-color: aliceblue;
}

.block1 {
        background-image: url("fluffygrasscrop.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        height: inherit;
}

.block2 {
        height: 500px;
}

.block3 {
        background-image: url("bowloftrees.JPG");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;;
        min-height: 300px;
}

.block4 {
        height: 500px;
}

.block5 {
        background-image: url("waves.JPG");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        height: 900px;
}

#frog {
    font-family: cursive;
    text-align: center;
    font-size: 30pt;
}

#frog, img {
    height:100px;
    text-align: left;
}
